.header-horizontal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999; }
  .header-horizontal .sub-header {
    color: lightgray;
    background-color: #333333;
    padding: 0; }
    .header-horizontal .sub-header .close {
      text-shadow: none;
      position: fixed;
      top: 0;
      right: 5px;
      color: lightgray;
      opacity: 1; }
      @media (min-width: 768px) {
        .header-horizontal .sub-header .close {
          display: none; } }
    .header-horizontal .sub-header .sub-header-block, .header-horizontal .sub-header .ui-effects-wrapper {
      width: 100%;
      margin: 0 auto !important;
      padding: 0;
      overflow: hidden;
      box-sizing: border-box;
      padding: 15px 0;
      display: none; }
      @media (min-width: 768px) {
        .header-horizontal .sub-header .sub-header-block, .header-horizontal .sub-header .ui-effects-wrapper {
          padding: 30px 0; } }
      .header-horizontal .sub-header .sub-header-block .sub-header-row, .header-horizontal .sub-header .ui-effects-wrapper .sub-header-row {
        overflow: hidden;
        padding: 0 15px; }
        .header-horizontal .sub-header .sub-header-block .sub-header-row .sub-header-row-left, .header-horizontal .sub-header .ui-effects-wrapper .sub-header-row .sub-header-row-left {
          display: inline-block;
          padding: 7px 6px 6px;
          border: 1px solid lightgray;
          border-radius: 3px;
          float: none;
          line-height: 1;
          font-size: .85em;
          text-transform: uppercase;
          cursor: pointer; }
          @media (min-width: 768px) {
            .header-horizontal .sub-header .sub-header-block .sub-header-row .sub-header-row-left, .header-horizontal .sub-header .ui-effects-wrapper .sub-header-row .sub-header-row-left {
              border: none;
              float: left;
              width: 248px;
              cursor: auto;
              padding-left: 0; } }
        .header-horizontal .sub-header .sub-header-block .sub-header-row .sub-header-row-right, .header-horizontal .sub-header .ui-effects-wrapper .sub-header-row .sub-header-row-right {
          padding: 8px 0 0;
          display: none; }
          @media (min-width: 768px) {
            .header-horizontal .sub-header .sub-header-block .sub-header-row .sub-header-row-right, .header-horizontal .sub-header .ui-effects-wrapper .sub-header-row .sub-header-row-right {
              display: block;
              padding: 0 0 17px 18px;
              margin: 0 0 0 248px;
              border-left: 1px solid lightgray; } }
          .header-horizontal .sub-header .sub-header-block .sub-header-row .sub-header-row-right ul, .header-horizontal .sub-header .ui-effects-wrapper .sub-header-row .sub-header-row-right ul {
            list-style-type: none;
            padding: 0;
            margin-bottom: 0; }
            .header-horizontal .sub-header .sub-header-block .sub-header-row .sub-header-row-right ul > li, .header-horizontal .sub-header .ui-effects-wrapper .sub-header-row .sub-header-row-right ul > li {
              display: inline-block;
              margin: 0 12px 9px 0;
              padding: 0 14px 0 0;
              background: url(../img/bg_dot_light.png) 100% 60% no-repeat; }
              .header-horizontal .sub-header .sub-header-block .sub-header-row .sub-header-row-right ul > li.active > a, .header-horizontal .sub-header .ui-effects-wrapper .sub-header-row .sub-header-row-right ul > li.active > a {
                font-weight: bold; }
              .header-horizontal .sub-header .sub-header-block .sub-header-row .sub-header-row-right ul > li > a, .header-horizontal .sub-header .ui-effects-wrapper .sub-header-row .sub-header-row-right ul > li > a {
                color: lightgray; }
              .header-horizontal .sub-header .sub-header-block .sub-header-row .sub-header-row-right ul > li:last-child, .header-horizontal .sub-header .ui-effects-wrapper .sub-header-row .sub-header-row-right ul > li:last-child {
                background: 0 0; }
      .header-horizontal .sub-header .sub-header-block .sub-header-row:last-child .sub-header-row-right, .header-horizontal .sub-header .ui-effects-wrapper .sub-header-row:last-child .sub-header-row-right {
        padding-bottom: 0; }
      .header-horizontal .sub-header .sub-header-block .sub-header-row + .sub-header-row, .header-horizontal .sub-header .ui-effects-wrapper .sub-header-row + .sub-header-row {
        margin-top: 15px; }
        @media (min-width: 768px) {
          .header-horizontal .sub-header .sub-header-block .sub-header-row + .sub-header-row, .header-horizontal .sub-header .ui-effects-wrapper .sub-header-row + .sub-header-row {
            margin-top: 0; } }
  .header-horizontal .main-header {
    position: relative;
    padding: 0;
    border-bottom: 1px solid #090909;
    background: #222222;
    z-index: 50; }
    .header-horizontal .main-header .main-header-inner {
      width: 100%;
      margin: 0 auto !important;
      padding: 0;
      overflow: hidden;
      box-sizing: border-box;
      padding: 0 15px; }
      .header-horizontal .main-header .main-header-inner .main-header-block {
        float: left;
        height: 53px; }
        .header-horizontal .main-header .main-header-inner .main-header-block.header-brand {
          line-height: 53px; }
          .header-horizontal .main-header .main-header-inner .main-header-block.header-brand > .brand {
            color: #999999;
            font-weight: 500;
            font-size: 18px;
            float: left; }
            .header-horizontal .main-header .main-header-inner .main-header-block.header-brand > .brand:hover, .header-horizontal .main-header .main-header-inner .main-header-block.header-brand > .brand:active {
              color: white;
              text-decoration: none; }
        .header-horizontal .main-header .main-header-inner .main-header-block.header-buttons {
          float: right; }
          .header-horizontal .main-header .main-header-inner .main-header-block.header-buttons > ul {
            list-style: none;
            padding: 0;
            font-size: 0;
            text-align: right; }
            .header-horizontal .main-header .main-header-inner .main-header-block.header-buttons > ul > li {
              display: inline-block;
              height: 53px;
              width: 62px;
              line-height: 0;
              vertical-align: middle;
              font-size: 14px; }
              .header-horizontal .main-header .main-header-inner .main-header-block.header-buttons > ul > li > a {
                display: block;
                height: 100%;
                text-align: center;
                border-left: 1px solid #151515;
                position: relative;
                color: lightgray; }
                .header-horizontal .main-header .main-header-inner .main-header-block.header-buttons > ul > li > a, .header-horizontal .main-header .main-header-inner .main-header-block.header-buttons > ul > li > a:hover, .header-horizontal .main-header .main-header-inner .main-header-block.header-buttons > ul > li > a:focus, .header-horizontal .main-header .main-header-inner .main-header-block.header-buttons > ul > li > a:active {
                  text-decoration: none; }
                .header-horizontal .main-header .main-header-inner .main-header-block.header-buttons > ul > li > a:hover, .header-horizontal .main-header .main-header-inner .main-header-block.header-buttons > ul > li > a:focus, .header-horizontal .main-header .main-header-inner .main-header-block.header-buttons > ul > li > a:active {
                  color: #428bca; }
                .header-horizontal .main-header .main-header-inner .main-header-block.header-buttons > ul > li > a .menu-icon {
                  font-size: 1.5em;
                  height: 17px;
                  top: 14px;
                  position: relative;
                  display: block;
                  margin: 0 auto; }
                .header-horizontal .main-header .main-header-inner .main-header-block.header-buttons > ul > li > a .menu-name {
                  position: absolute;
                  display: block;
                  bottom: 7px;
                  width: 100%;
                  vertical-align: middle;
                  text-transform: uppercase;
                  font-size: .6em;
                  letter-spacing: .6px; }
              .header-horizontal .main-header .main-header-inner .main-header-block.header-buttons > ul > li:last-child > a {
                border-right: 1px solid #151515; }
              .header-horizontal .main-header .main-header-inner .main-header-block.header-buttons > ul > li.menu-active > a {
                color: #428bca; }
