$black : #333333 !default;
$color-light : #d3d3d3 !default;

$background-light : #222 !default;
$background-dark : $black !default;

$menu-active-button-color : #428bca !default;
$menu-button-color : lightgrey !default;

$brand-color : #999 !default;
$brand-color-active : white !default;

$main-menu-height : 53px !default;
$base-font-size : 14px !default;

$padding-side : 15px !default;
$padding-left : $padding-side !default;
$padding-right : $padding-side !default;

$image_path : "../img/" !default;

@mixin header-inner {
  width      : 100%;
  margin     : 0 auto !important;
  padding    : 0;
  overflow   : hidden;
  box-sizing : border-box;
}

.header-horizontal {
  position : fixed;
  top      : 0;
  left     : 0;
  width    : 100%;
  z-index  : 9999999;

  .sub-header {
    color            : $color-light;
    background-color : $background-dark;
    padding          : 0;

    .close {
      text-shadow : none;
      position    : fixed;
      top         : 0;
      right       : 5px;
      color       : $color-light;
      opacity     : 1;

      @media (min-width : 768px) {
        display         : none;
      }
    }

    .sub-header-block, .ui-effects-wrapper {

      @include header-inner;
      padding : 15px 0;

      @media (min-width : 768px) {
        padding         : 30px 0;
      }

      display : none;

      .sub-header-row {
        overflow : hidden;
        padding  : 0 $padding-side;

        .sub-header-row-left {

          display        : inline-block;

          padding        : 7px 6px 6px;
          border         : 1px solid $color-light;
          border-radius  : 3px;

          float          : none;

          line-height    : 1;
          font-size      : .85em;
          text-transform : uppercase;

          cursor         : pointer;

          @media (min-width : 768px) {
            border          : none;
            float           : left;
            width           : 248px;
            cursor          : auto;
            padding-left    : 0;
          }
        }

        .sub-header-row-right {

          padding : 8px 0 0;
          display : none;

          @media (min-width : 768px) {
            display         : block;
            padding         : 0 0 17px 18px;
            margin          : 0 0 0 248px;
            border-left     : 1px solid $color-light;
          }

          ul {
            list-style-type : none;
            padding         : 0;
            margin-bottom   : 0;

            > li {
              display    : inline-block;
              margin     : 0 12px 9px 0;
              padding    : 0 14px 0 0;
              background : url(#{$image_path}bg_dot_light.png) 100% 60% no-repeat;

              &.active > a {
                font-weight : bold;
              }

              > a {
                color : $color-light;
              }

              &:last-child {
                background : 0 0;
              }
            }
          }
        }
      }

      .sub-header-row:last-child .sub-header-row-right {
        padding-bottom : 0;
      }

      .sub-header-row + .sub-header-row {
        margin-top : 15px;

        @media (min-width : 768px) {
          margin-top      : 0;
        }
      }
    }
  }

  .main-header {
    position      : relative;
    padding       : 0;
    border-bottom : 1px solid darken($background-light, 10%);
    background    : $background-light;
    z-index       : 50;

    .main-header-inner {
      @include header-inner;
      padding : 0 $padding-side;

      .main-header-block {
        float  : left;
        height : $main-menu-height;

        &.header-brand {
          line-height : $main-menu-height;

          > .brand {
            color       : $brand-color;
            font-weight : 500;
            font-size   : 18px;
            float       : left;

            &:hover, &:active {
              color           : $brand-color-active;
              text-decoration : none;
            }
          }
        }

        &.header-buttons {
          float : right;

          > ul {
            list-style : none;
            padding    : 0;
            font-size  : 0;
            text-align : right;

            > li {
              display        : inline-block;
              height         : 53px;
              width          : 62px;
              line-height    : 0;
              vertical-align : middle;
              font-size      : $base-font-size;

              > a {
                display     : block;
                height      : 100%;
                text-align  : center;
                border-left : 1px solid darken($background-light, 5%);
                position    : relative;
                color       : $menu-button-color;

                &, &:hover, &:focus, &:active {
                  text-decoration : none;
                }

                &:hover, &:focus, &:active {
                  color : $menu-active-button-color;
                }

                .menu-icon {
                  font-size : 1.5em;
                  height    : 17px;
                  top       : 14px;
                  position  : relative;
                  display   : block;
                  margin    : 0 auto;

                }
                .menu-name {
                  position       : absolute;
                  display        : block;
                  bottom         : 7px;
                  width          : 100%;
                  vertical-align : middle;
                  text-transform : uppercase;
                  font-size      : .6em;
                  letter-spacing : .6px;
                }
              }

              &:last-child > a {
                border-right : 1px solid darken($background-light, 5%);
              }

              &.menu-active > a {
                color : $menu-active-button-color;
              }
            }
          }
        }
      }
    }
  }
}

